.full-width {
    width: 100% !important;
}

.mb-32 {
    margin-bottom: 32px;
}

.page-content {
    padding: 64px 128px;
    background-color: rgba(0,0,0,0.05);
    min-height: calc(100vh - 64px);
    box-sizing: border-box;
}

.mdl-card__supporting-text {
    display: flex;
    flex-direction: column;
}

.blue {
    background-color: rgb(63,81,181);
}

.container-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px !important; 
    border-radius: 8px !important;
    cursor: pointer;
}

.menu-card:hover {
    background-color: rgb(63, 81, 181, 0.13);
}

.mdl-card__supporting-text {
    min-height: 100px;
}