<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Anki-Clon</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="index.html">Meine Stapel</a>
            <a class="mdl-navigation__link" href="find.html">Stapel finden</a>
            <a class="mdl-navigation__link" href="add.html">Hinzufügen</a>
            <a class="mdl-navigation__link" href="data-protection.html">Datenschutz</a>
            <a class="mdl-navigation__link" href="imprint.html">Impressum</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Anki-Clon</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="index.html">Meine Stapel</a>
        <a class="mdl-navigation__link" href="find.html">Stapel finden</a>
        <a class="mdl-navigation__link" href="add.html">Hinzufügen</a>
        <a class="mdl-navigation__link" href="data-protection.html">Datenschutz</a>
        <a class="mdl-navigation__link" href="imprint.html">Impressum</a>
    </nav>
</div>

